aiogram
uvloop
requests
pydantic
pydantic-settings
loguru
fake-useragent
flake8
flake8-import-order
flake8-quotes
isort
black
numpy
pandas
category-encoders
scikit-learn
xgboost
matplotlib
catboost
optuna
seaborn
joblib